	<div class="popup-head-right pull-right">
		<!-- <div class="btn-group">
			<button aria-expanded="false" class="chat-header-button" data-toggle="dropdown" type="button"><i class="glyphicon glyphicon-cog"></i></button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">Media</a>
				</li>
				<li>
					<a href="#">Block</a>
				</li>
				<li>
					<a href="#">Clear Chat</a>
				</li>
				<li>
					<a href="#">Email Chat</a>
				</li>
			</ul>
		</div><button class="chat-header-button pull-right" data-widget="remove" id="removeClass" type="button"><i class="glyphicon glyphicon-off"></i></button> -->
	</div>