#ui {
	width: 450px;
	height: 650px;
	background-color: #eee;
}

#user-mssg {
	width: 388px;
	height: 30px;
	background-color: #fff;
	display: inline-block;
}

#speech {
	width: 50px;
	height: 55px;
	background-color: #eee;										/*same color as #ui */
	display: inline-block;
}

#mode {
	height: 40px;
}

.mode-option {
	height: 40px;
	background-color: #aaa;
	display: inline-block;
	border-style: solid;
	border-width: 5px;
	border-color: #eee;
	width : 130px;
}